@import url("fonts.css");
@import url("colors.css");
@import url("dark-theme-switch.css");

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  margin: 0;
  margin: 3em 4em 2em 4em;
  margin: 3em auto 4em auto;

  color: var(--text-primary-color);
  background-color: var(--bg-color);

  width: 720px;
}

p { 
  line-height: 1.5;
}

a {
  color: var(--accent-color);
}

ul {
  margin-bottom: 1em;
}

li {
  padding-bottom: 0.4em;
}

i {
  color: var(--accent-color);
}

.bold {
  font-weight: bold;
}

.divider-horizontal-full {
  border: none;
  border-top: 1px solid var(--light-color);
  margin-bottom: 1.5em;
}

.header {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
}

.header-image {
  width: 6em;
  border-radius: 50%;
  margin: 0;
  margin-bottom: 1em;
}

.header-name {
  margin: 0;
  font-size: 2em;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  margin-right: -0.02em;
}

.header-title { 
  margin-bottom: 0.5em;  
  font-size: 1em;
}

.header-links {
  display: grid;
  grid-template-columns: auto 2em auto 2em auto 2em auto;
  justify-content: center;
  justify-items: center;
}

.header-links-link {
  margin: 0;
  text-decoration: none;
  color: var(--text-primary-color);;
}

.header-links-link-text {
  padding-left: 0.05em;
}

.content {
  margin: 2em 0em 2em 0em;
}

.content-section {
  margin-bottom: 2em;
}

.content-section-title {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
  color: var(--accent-color);
}

.work-experience-entry {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 2em;
}

.work-experience-entry-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.work-experience-entry-header-left {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: start;
  row-gap: 0.3em;
}

.work-experience-entry-header-right {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: end;
  row-gap: 0.3em;
}

.work-experience-entry-header-name {
  font-weight: bold;
  font-size: 1em;
}

.work-experience-entry-header-title {
  font-weight: normal;
  font-size: 1em;
  color: var(--text-secondary-color);
}

.work-experience-entry-header-location {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  color: var(--text-secondary-color);
}

.work-experience-entry-header-period {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
  color: var(--text-secondary-color);
}

.work-experience-entry-header-links {
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
  margin-top: 0.35em;
}

.work-experience-entry-content {
  display: grid;
  grid-template-columns: 100%;
  font-size: 1em;
  text-align: start;
  line-height: 1.5;
}

.work-experience-entry-image-container-double {
  display: grid;
  grid-template-columns: 50% 50%;  
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}

.work-experience-entry-image-single {
  justify-self: center;
  width: 60%;
  margin-bottom: 2em;
}

.work-experience-entry-image-double {
  justify-self: center;
  width: 92%;
}

.contact-entry {
  margin-bottom: 0.5em;
}
