@import url("fonts.css");

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

li {
  padding-bottom: 0.4em; 
}

.bold {
  font-weight: bold;
}

.header {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  justify-items: center;
}

.header-name {
  margin-bottom: 0;
  font-size: 2em;
}

.header-title {
  margin-top: 0.5em;  
  margin-bottom: 0.5em;  
  font-size: 1em;
}

.header-links {
  display: grid;
  grid-template-columns: auto 2em auto 2em auto 2em auto;
  justify-content: center;
  justify-items: center;
}

.header-links-link {
  margin: 0;
  text-decoration: none;
  color: black;
}

.header-links-link-text {
  padding-left: 0.05em;
}

.content {
  display: grid;
  grid-template-columns: auto;
  margin: 2em 2em 2em 2em;
}

.content-section {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 2em;
}

.content-section-title {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
}

.work-experience-entry {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 2em;
}

.work-experience-entry-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.work-experience-entry-header-left {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: start;
}

.work-experience-entry-header-right {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: end;
}

.work-experience-entry-header-name {
  font-weight: bold;
  font-size: 1em;
}

.work-experience-entry-header-title {
  font-weight: normal;
  font-size: 1em;
}

.work-experience-entry-header-location {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
}

.work-experience-entry-header-period {
  font-weight: normal;
  font-style: italic;
  font-size: 0.9em;
}

.work-experience-entry-header-links {
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
  margin-top: 0.35em;
}

.work-experience-entry-header-links a {
  color:black;
  /* text-decoration: none; */
}

.work-experience-entry-content {
  display: grid;
  grid-template-columns: 100%;
  font-size: 1em;
  text-align: start;
}

.work-experience-entry-image-container-double {
  display: grid;
  grid-template-columns: 50% 50%;  
  justify-content: center;
  align-content: center;
}

.work-experience-entry-image-single {
  justify-self: center;
  width: 70%;
}

.work-experience-entry-image-double {
  justify-self: center;
  width: 95%;
}

